@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 190 33% 90%;
    --foreground: 202 24% 25%;
    --card: 190 33% 95%;
    --card-foreground: 202 24% 25%;
    --popover: 190 33% 95%;
    --popover-foreground: 202 24% 25%;
    --primary: 190 36% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 25% 85%;
    --secondary-foreground: 202 24% 25%;
    --muted: 190 25% 85%;
    --muted-foreground: 190 20% 45%;
    --accent: 177 49% 61%;
    --accent-foreground: 202 24% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 20% 75%;
    --input: 190 20% 80%;
    --ring: 190 36% 44%;
    --chart-1: 190 36% 44%;
    --chart-2: 177 49% 61%;
    --chart-3: 190 30% 55%;
    --chart-4: 177 40% 70%;
    --chart-5: 190 25% 65%;
    --radius: 0.5rem;
    --sidebar-background: 190 20% 98%;
    --sidebar-foreground: 202 24% 25%;
    --sidebar-primary: 190 36% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 190 33% 90%;
    --sidebar-accent-foreground: 190 36% 44%;
    --sidebar-border: 190 20% 90%;
    --sidebar-ring: 190 36% 44%;
  }
  .dark {
    --background: 202 24% 10%;
    --foreground: 190 33% 90%;
    --card: 202 24% 12%;
    --card-foreground: 190 33% 90%;
    --popover: 202 24% 10%;
    --popover-foreground: 190 33% 90%;
    --primary: 190 33% 90%;
    --primary-foreground: 202 24% 15%;
    --secondary: 202 24% 20%;
    --secondary-foreground: 190 33% 90%;
    --muted: 202 24% 20%;
    --muted-foreground: 190 20% 60%;
    --accent: 177 49% 61%;
    --accent-foreground: 202 24% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 24% 25%;
    --input: 202 24% 25%;
    --ring: 190 33% 90%;
    --chart-1: 190 36% 44%;
    --chart-2: 177 49% 61%;
    --chart-3: 190 30% 55%;
    --chart-4: 177 40% 70%;
    --chart-5: 190 25% 65%;
    --sidebar-background: 202 24% 8%;
    --sidebar-foreground: 190 33% 90%;
    --sidebar-primary: 190 33% 90%;
    --sidebar-primary-foreground: 202 24% 10%;
    --sidebar-accent: 202 24% 15%;
    --sidebar-accent-foreground: 190 33% 90%;
    --sidebar-border: 202 24% 15%;
    --sidebar-ring: 190 33% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
